

<section class="bg-[#182135] border-b-8 rounded-lg border-[#264782]  min-h-screen py-20 px-5">

    <h1 class="text-center text-white font-bold text-[40px] capitalize">my recent <span>work</span>
    </h1>
    <p class="text-white text-[14px] text-center ">Here are a few projects I've worked on recently.</p>
    
     <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">


        

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm ">
    <a href="#">
        <img class="rounded-t-lg" src="/images/Screenshot (1634).png"  alt="" />
    </a>
    <div class="p-3 bg-[#1E293B]">
       
        <h1 class="text-center text-[#3B82F6] mb-4 text-[26px] ">Fake Store</h1>
       
         <h2 class="text-white mb-2 text-[23px]">Technologies</h2>
         <p class="text-white mb-4">html5 css3 TypeScript Angular19 Bootstrap Angular Material API</p>
       
         <h2 class="text-[#3B82F6] text-center text-[30px]">Discription</h2>
         <p class="text-white text-start text-right">
            Fake Store is a mock e-commerce website used for testing and learning purposes.
             It offers a variety of dummy products like electronics, clothing, and accessories
              with sample descriptions and prices.
         </p>

       
         <div class="flex justify-between items-center mt-6">
            <a href="https://github.com/emanawad14/Fake-Store.git">
                <button class="bg-[#156E5D] text-white px-6 py-2 rounded-full "><i class="fa-brands fa-github me-2"></i>GitHub</button>
             </a>
             <a href="https://fake-store-mu-rust.vercel.app/">
                <button class="bg-[#156E5D] text-white px-6 py-2 rounded-full "><i class="fa-solid fa-eye me-2"></i>demo</button>
             </a>
         </div>
    </div>
</div>


     </div>





</section>






