

<section class="bg-[#182135] border-b-8 rounded-lg border-[#264782]  min-h-screen py-20 px-5">
  <div class="grid md:grid-cols-2 items-center gap-10">
    
    <!-- Text Content -->
    <div class="text-center md:text-left">
      <h1 class="text-4xl md:text-6xl font-bold text-white">Hi There! 👋</h1>
      <h2 class="text-3xl md:text-5xl text-white mt-4">
        I'm <span class="text-[#156E5D] font-bold">Eman Awad</span>
      </h2>
      <h2 class="text-2xl md:text-4xl text-[#156E5D] font-bold mt-4">
        <span #typedElement></span>
      </h2>
    </div>

    <!-- Image -->
    <div class="flex justify-center mt-10 md:mt-0">
      <img
        src="/images/scene-with-diverse-young-people-being-digital-nomads-working-remotely-from-dreamy-locations.jpg"
        class="h-64 w-64 md:h-[500px] md:w-[500px] rounded-full object-cover"
        alt="Digital Nomads"
      />
    </div>
    
  </div>
</section>




<section class="bg-[#0F172A] border-b-8 border-[#156E5D]   border-t-8  rounded-lg px-4 md:px-8 lg:px-20 py-20">
  <div class="flex flex-col md:flex-row items-start md:items-center gap-12">
    
    <!-- Text Section -->
    <div class="flex-1 text-white">
      <h1 class=" heading  text-3xl md:text-4xl font-bold uppercase mb-10 text-center md:text-left">
        Let me <span class="text-[#156E5D]">Introduce</span> Myself
      </h1>
      <div class="colored-line mb-6"></div>
      
      <h2 class="heading text-[22px] md:text-[25px] font-bold mb-8 leading-relaxed">
        Hello! I'm <span class="text-[#156E5D]">Eman Awad</span>.
        I fell in love with programming and have learned many skills along the way... 🤷‍♂️
      </h2>
      <div class="colored-line mb-6"></div>

      <h2 class="heading text-[20px] md:text-[22px] font-bold leading-relaxed mb-8">
        I am fluent in programming languages such as
        <span class="text-[#156E5D]">JavaScript</span> ,
        <span class="text-[#156E5D]">TypeScript</span> ,
        <span class="text-[#156E5D]">C#</span> ,
        and I focus on building modern web technologies and products using
        <span class="text-[#156E5D]">ASP.NET</span> and modern frameworks like
        <span #angular class="text-[#156E5D]">Angular</span>.
      </h2>
      <div class="colored-line mb-6"></div>

      <h2 class="heading text-[18px] md:text-[20px] font-bold leading-relaxed mb-6">
        Passionate about continuous learning and problem-solving, with a keen interest in expanding technical expertise.
      </h2>
      <div class="colored-line mb-6"></div>

      <h2 class=" heading text-[18px] md:text-[20px] font-bold leading-relaxed mb-6">
        Power to write clean code that follows SOLID, OOP, while enjoying working within teams to develop creative and scalable solutions.
      </h2>

   
      
    </div>

    <!-- Image Section -->
    <div class="w-full md:w-[200px] lg:w-[250px] flex justify-center">
      <img
        src="/images/photo_2024-12-21_05-44-53-removebg-preview.png"
        alt="Eman Awad"
        class="w-full h-auto
         shadow-lg object-cover"
      />
    </div>

  </div>
</section>


<section class="text-center  border-b-8 border-[#264782]  px-4 border-t-8 border-[#156E5D] rounded-lg bg-[#0F172A] p-12">
  <h1 class="text-[28px] md:text-[32px] font-bold text-white mb-4">
    Find me ON
  </h1>

  <h2 class="text-[18px] md:text-[20px] text-white">
    Feel free to <span class="text-[#156E5D] font-bold">connect</span> with me
  </h2>

  <ul class="flex justify-center items-center gap-8 mt-8">
    <li>
      <a href="#" target="_blank">
        <i class="social fa-brands fa-facebook text-[24px] text-white "></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/eman-awad-714757203/" target="_blank">
        <i class="social fa-brands fa-linkedin text-[24px] text-white "></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/emanawad14" target="_blank">
        <i class="social fa-brands fa-github text-[24px] text-white "></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/emanawad14" target="_blank">
        <i class="social fa-solid fa-envelope text-[24px] text-white "></i>
      </a>
    </li>

   
  </ul>
</section>

