<section class="bg-[#182135] py-20 px-5 border border-b-8 border-[#264782] rounded-lg">


    <section class="bg-[#1E293B] py-16 px-4 rounded-2xl md:px-8 lg:px-16">
        <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-start md:items-center gap-10">
          
          <!-- Text Section -->
          <div class="flex-1 text-white">
            <h1 class=" heading text-3xl md:text-4xl font-bold mb-8  text-center md:text-left">
              Know Who <span class="text-[#156E5D]">I'M</span>
            </h1>
            <div class="colored-line mb-6"></div>
            <p class="text-lg md:text-xl font-semibold mb-8 leading-relaxed">
              I am <span class="text-[#264782] font-bold">Eman Awad</span> from 
              <span class="text-[#156E5D] font-bold">Mansoura, Ad Daqahliyah</span>.
            </p>
      
            <p class=" text-lg md:text-xl font-semibold mb-8 leading-relaxed">
              I completed an internship at Route Academy as a Front End Developer 
              (<span class="text-[#264782] font-bold">Angular</span>).
            </p>
           
            
            <p class=" text-lg md:text-xl mb-8 font-semibold leading-relaxed">
              I am currently interning at Elevate as a Front End Developer where I learned to work in a team, became proficient in 
              <span class="text-[#156E5D] font-bold">GitHub</span>, and enhanced my understanding of 
              <span class="text-[#156E5D] font-bold">SOLID Principles, Design Patterns, and Unit Testing</span>.
            </p>

            <p class= "  heading text-white mb-8 font-bold ">
                Apart from coding, some other activities that I love to do!

            </p>
            <div class="colored-line mb-6"></div>
            <ul>
                <li><i class="fa-solid fa-hand-point-right mb-2"></i> Travelling and Watching movies </li>
                <li><i class="fa-solid fa-hand-point-right mb-2"></i> Reading books and novels. </li>
               
              
                
                <li><i class="fa-solid fa-hand-point-right mb-2"></i> Writing short stories.</li>


         
                
            </ul>
           
            
          </div>
      
          <!-- Image Section -->
          <div class="w-full md:w-[220px] lg:w-[260px] flex justify-center">
            <img
              src="/images/digital-art-style-illustration-graphic-designer.jpg"
              alt="Eman Awad"
              class="rounded-full shadow-lg object-cover w-[200px] h-[200px] md:w-[220px] md:h-[220px] lg:w-[250px] lg:h-[250px]"
            />
          </div>
      
        </div>
      </section>
      
  
    
    



    <div class="max-w-6xl mx-auto my-20">
      <h1 class="  text-center text-white text-3xl md:text-4xl font-bold mb-12">
        Professional <span class="text-[#156E5D]">Skillset</span>
      </h1>
     
      
      <!-- shadow-md hover:scale-110 border-x-4 border-[#7250CD]  transition duration-300 -->
      <div class="icons grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-8 cursor-pointer  justify-items-center">
        <img src="/images/angular.png"
             class=" border-2 border-white h-[200px] p-14 rounded-xl 
                  "
             alt="Angular" />
        <img src="/images/Bootstrap.png"
             class=" border-2 border-white  h-[200px] p-14 rounded-xl 
             "
             alt="Angular" />
        <img src="/images/css.png"
             class=" border-2 border-white h-[200px] p-14 rounded-xl 
             "
             alt="Angular" />
        <img src="/images/html.png"
             class=" border-2 border-white h-[200px] p-14 rounded-xl 
             "
             alt="Angular" />
        <img src="/images/js.png"
             class=" border-2 border-white h-[200px] p-14 rounded-xl 
             "
             alt="Angular" />
        <img src="/images/Typescript.png"
             class=" border-2 border-white h-[200px] p-14 rounded-xl 
             "
             alt="Angular" />
        <img src="/images/jQuery.png"
             class=" border-2 border-white h-[200px] p-14 rounded-xl 
             "
             alt="Angular" />
        <img src="/images/angular-material.png"
             class=" border-2 border-white h-[200px] p-14 rounded-xl 
             "
             alt="Angular" />
        <img src="/images/sass.png"
             class=" border-2 border-white h-[200px] p-14 rounded-xl 
             "
             alt="Angular" />
        <img src="/images/json.png"
             class=" border-2 border-white h-[200px] p-14 rounded-xl 
             "
             alt="Angular" />
      
        <img src="/images/windy_8047087.png"
             class=" border-2 border-white h-[200px] p-14 rounded-xl 
             "
             alt="Angular" />
      
        <img src="/images/github.png"
             class=" border-2 border-white h-[200px] p-14 rounded-xl 
             "
             alt="Angular" />
        <img src="/images/Git.png"
             class=" border-2 border-white h-[200px] p-14 rounded-xl 
             "
             alt="Angular" />
      
             
      
             
      </div>
    </div>
  </section>
  