



<section class="bg-[#182135] h-[160vh] py-10">
  <div class="max-w-4xl mx-auto px-4">
    <h2 class="text-5xl text-white font-bold text-center mb-10 mt-16">My Journey</h2>

    <div class="relative border-l-4 border-[#264782]">

      
      <div class="mb-10 ml-6">
        <div class="absolute w-6 h-6 bg-[#264782] rounded-full -left-3.5 border-4 border-white"></div>
        <time class="mb-1 text-2xl font-bold text-white">2019 - 2023</time>
        <h3 class="text-xl font-bold mt-3 text-[#3B82F6]">Bachelor’s in Information Technology</h3>
        <p class="text-[#156E5D] font-bold mt-8">
         Studied core computer science concepts including programming, databases, and software engineering.
        </p>
      </div>

     
      <div class="mb-10 ml-6">
        <div class="absolute w-6 h-6 bg-[#264782] rounded-full -left-3.5 border-4 border-white"></div>
        <time class="mb-1 text-2xl font-bold text-white">2023 - 2024</time>
        <h3 class="text-xl font-bold mt-3 text-[#3B82F6]">ICT Teacher </h3>
        <p class="text-[#156E5D] font-bold mt-8">
           Teaching Computer Science & ICT for international school students using modern tools and practices.
        </p>
      </div>

      
      <div class="mb-10 ml-6">
        <div class="absolute w-6 h-6 bg-[#264782] rounded-full -left-3.5 border-4 border-white"></div>
        <time class="mb-1 text-2xl font-bold text-white">2021 - 2025</time>
        <h3 class="text-xl font-bold mt-3 text-[#3B82F6]">Started My Coding Journey</h3>
        <p class="text-[#156E5D] font-bold mt-8">
         Wrote my first lines of code, fell in love with programming, and decided to pursue it as a career.
        </p>
      </div>

      
      <div class="mb-10 ml-6">
        <div class="absolute w-6 h-6 bg-[#264782] rounded-full -left-3.5 border-4 border-white"></div>
        <time class="mb-1 text-2xl font-bold text-white">2025 - Persent</time>
        <h3 class="text-xl font-bold mt-3 text-[#3B82F6]">Started Journey in ITI</h3>
        <p class="text-[#156E5D] font-bold mt-8">
          Wrote my first lines of code, fell in love with programming, and decided to pursue it as a career.
          and Learning Soft Skills and Communication
        </p>
      </div>

    </div>
  </div>
</section>












<section class="bg-[#182135] py-20">
  <div class="max-w-6xl mx-auto px-4">
    <h2 class="text-3xl font-bold text-center text-white mt-20">Achievements & Certificates</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-10 gap-8">

      
      <div class="bg-gray-100 rounded-2xl shadow-md p-6 hover:shadow-xl transition">
        <div class="flex items-center mb-4">
          <div class="w-12 h-12 bg-[#264782] text-white flex items-center justify-center rounded-full text-2xl">
            🎓
          </div>
          <h3 class="ml-4 text-xl font-semibold">ITI Certificate</h3>
        </div>
        <p class="text-[#156E5D] font-bold mb-5">
          Completed a professional IT training program at ITI focusing on Front-end Development and Cross PLatForm Application.
        </p>
        <span class="text-lg font-bold text-[#264782]">Issued: 2025</span>
      </div>

      <!-- Card 2 -->
      <div class="bg-gray-100 rounded-2xl shadow-md p-6 hover:shadow-xl transition">
        <div class="flex items-center mb-4">
          <div class="w-12 h-12 bg-[#264782] text-white flex items-center justify-center rounded-full text-2xl">
            🏅
          </div>
          <h3 class="ml-4 text-xl font-semibold">Udemy Certificate</h3>
        </div>
        <p class="text-[#156E5D] font-bold mb-5">
          Completed a full Angular course with projects, mastering RxJS, NgRx, and state management and Nx monerepo
          with build Application and Ecommerce with them. 
        </p>
        <span class="text-lg font-bold text-[#264782]">Issued: 2022</span>
      </div>

      
      <div class="bg-gray-100 rounded-2xl shadow-md p-6 hover:shadow-xl transition">
        <div class="flex items-center mb-4">
          <div class="w-12 h-12 bg-[#264782] text-white flex items-center justify-center rounded-full text-2xl">
            📜
          </div>
          <h3 class="ml-4 text-xl font-semibold">Coursera Certificate</h3>
        </div>
        <p class="text-[#156E5D] font-bold mb-5">
          Completed "Database Design & SQL" specialization covering ERD, normalization, and advanced queries
          
        </p>
        <span class="text-lg font-bold text-[#264782]">Issued: 2021</span>
      </div>

     
      

    </div>
  </div>
</section>
