
<footer class="bg-[#1D253F] p-8 shadow-lg border-t-8 border-[#156E5D] rounded-lg">
  <div class="w-full max-w-7xl mx-auto px-4 py-6 flex flex-col md:flex-row items-center justify-between gap-4">
    
    <!-- Left -->
    <h2 class="text-center text-[20px] md:text-left text-white font-semibold">
      Developed by 
      <span class="text-[#156E5D] font-bold">Eman Awad</span>
    </h2>

    <!-- Center -->
    <h2 class="text-center text-white font-semibold">
      Copyright © May 1, 2025
    </h2>

    <!-- Right -->
    <ul class="flex justify-center items-center gap-6 text-white text-[20px]">
      <li>
        <a href="#" class="hover:text-[#156E5D] transition duration-300">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/eman-awad-714757203/" class="hover:text-[#156E5D] transition duration-300">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/emanawad14" class="hover:text-[#156E5D] transition duration-300">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/emanawad14" class="hover:text-[#156E5D] transition duration-300">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </li>
    </ul>
    

  </div>
</footer>

  
  
  
  